@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mixins;

.sortcontainer {
  display: flex;
  gap: 1rem;
}

.btn {
  @include mixins.btn(8rem);
}

.sortbutton {
  background-color: vars.$color-primary600;
}
