@use '@/styles/variables.scss' as vars;
@use '@/styles/mixins.scss' as mixins;

.productssection {
  padding: 10px;
  border-top: 1px solid vars.$color-dark-grey;
}

.productlist {
  display: flex;
  grid-area: products-list;
  flex-wrap: wrap;
  gap: 4rem;
  list-style: none;
}

.pricecontainer {
  display: flex;
  gap: 1rem;
}

.productitem {
  cursor: pointer;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 260px;
  height: 400px;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid vars.$color-dark-grey;
  border-radius: 4px;
  transition:
    outline 0.2s,
    transform 0.2s;
}

.salenumber {
  position: relative;
  right: 4%;
  width: 4.5rem;
  height: 1.5rem;
  background-color: vars.$color-primary;
}

.productprice {
  color: vars.$color-primary;
}

.onsale {
  text-decoration: line-through;
}

.productitem:hover {
  transform: scale(1.03) translateY(1px);
  outline: 0.1rem solid vars.$color-primary;
}

.pagination {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 30px;
}

.paginationbutton {
  cursor: pointer;
  padding: 8px 30px;
  border: 1px solid vars.$color-dark-grey;
  border-radius: 4px;
  font-size: 14px;
  background-color: vars.$color-white;
}

.paginationbutton:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  background-color: vars.$neutral-grayadadad;
}

.paginationbutton.active {
  border-color: vars.$color-primary;
  color: vars.$color-white;
  background-color: vars.$color-primary;
}
