@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mixins;

.productcontainer {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 30px 3fr 1fr;
  gap: 8%;
  padding-top: 2%;
}

.productimage {
  display: flex;
  grid-area: 2 / 1;
  align-items: center;
  max-height: 450px;
}

.productimage > .slider {
  max-height: 450px;
}

.producinfo {
  display: flex;
  grid-area: 2 / 2;
  flex-direction: column;
  gap: 9%;
}

.producdescription {
  grid-column: 1 / span 2;
  max-width: 1440px;
  margin-top: 20px;
}

.pricecontainer {
  display: flex;
  gap: 1rem;
}

.productprice {
  color: vars.$color-primary;
}

.onsale {
  text-decoration: line-through;
}
