@use '@/styles/mixins' as mixins;
@use '@/styles/variables' as vars;

.btn {
  display: flex;
  display: inline-flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 2.5rem;
  padding: 1rem 2rem;
  border: none;
  background: vars.$color-primary;

  @include mixins.body-m(vars.$color-white);
}

@media (hover: hover) {
  .btn {
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      background-color: vars.$color-primary200;
    }
  }
}
