@use '@/styles/mixins.scss' as mix;
@use '@/styles/variables.scss' as vars;

.about {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  min-height: 100vh;
  padding: 3rem 1.5rem;
  padding-bottom: 8rem;

  h1 {
    @include mix.headline-1(vars.$color-black, 2rem);

    text-align: center;
  }
}

.logo {
  position: absolute;
  z-index: 10;
  right: 2rem;
  bottom: 2rem;
  width: 300px;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  &:hover {
    transform: translateY(-3px);
    opacity: 1;
  }
}

@media (width <= 1100px) and (width >= 769px) {
  .logo {
    right: 1rem;
    bottom: 1rem;
    width: 200px;
  }

  .about {
    padding-bottom: 6rem;
  }
}

@media (width <= 768px) {
  .about {
    gap: 2rem;
    padding: 2rem 1rem;
    padding-bottom: 5rem;

    h1 {
      font-size: 2rem;
    }
  }

  .logo {
    position: relative;
    right: auto;
    bottom: auto;
    align-self: center;
    width: 150px;
    margin-top: 1rem;
  }
}
