@use '@/styles/mixins' as mixins;

.form {
  @include mixins.center(0);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}
