@use './fonts.scss' as fonts;
@use './variables.scss' as vars;
@use './mixins.scss' as mixins;

html {
  font-size: 16px;
  background-color: vars.$color-white;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: fonts.$font-family;
  font-weight: 400;
  font-style: normal;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
}

.section {
  padding: 1rem;

  &-dog {
    @include mixins.caption(2.5rem);
    @include mixins.left;

    background-color: vars.$color-white;
    background-image: url('/images/dog.jpg');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-origin: content-box;
    background-size: contain;
  }
}

.title {
  @include mixins.caption(2rem);
  @include mixins.center;
}

.icon {
  @include mixins.icon;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: vars.$color-primary25;
}

td {
  padding: 0.5rem;
  text-align: center;

  & div {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
  }

  &:nth-child(1) {
    text-align: left;

    & > div {
      justify-content: flex-start;
    }
  }
}

th {
  min-width: 5.5rem;
  padding: 0.5rem;
  font-weight: 600;
  background-color: vars.$color-primary50;
}

tr:nth-child(even) {
  background-color: vars.$color-primary50;
}
