@use './fonts.scss' as fonts;
@use './variables.scss' as vars;
@use './mixins.scss' as mixins;

html {
  font-size: 16px;
  background-color: vars.$dark-primary;
}

* {
  @include mixins.text-m;

  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: fonts.$font-family;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: vars.$white;
}

.section {
  padding: 1rem 5rem;
  background-color: vars.$white;

  &-dog {
    background-color: vars.$white;
    background-image: url('/not-found.jpg');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-origin: content-box;
    background-size: contain;
  }
}

.btn {
  @include mixins.btn;
}
