@use './variables.scss' as vars;

@media (hover: hover) {
  .btn {
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      box-shadow: 0 0 5px vars.$primary;
    }
  }
}

@media (width <= 768px) {
  html {
    font-size: 14px;
  }

  .section {
    padding: 1rem 3rem;
  }
}

@media (width <= 390px) {
  html {
    font-size: 10px;
  }

  .section {
    padding: 0.5rem 1rem;
  }
}
