@use './fonts.scss' as fonts;
@use './variables.scss' as vars;

@mixin text($ff: false, $fst: false, $color: false, $fs: false, $lh: false, $fw: false, $ls: false) {
  @if ($ff) {
    font-family: $ff;
  }

  @if ($fst) {
    font-style: $fst;
  }

  @if ($color) {
    color: $color;
  }

  @if ($fs) {
    font-size: $fs;
  }

  @if ($lh) {
    line-height: $lh;
  }

  @if ($fw) {
    font-weight: $fw;
  }

  @if ($ls) {
    letter-spacing: $ls;
  }
}

@mixin flex-row($gap: 2rem) {
  display: flex;
  flex-direction: row;
  gap: $gap;
  align-items: center;
  justify-content: space-between;
}

@mixin center($gap: 2rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

@mixin left($gap: 2rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
  align-items: flex-start;
  justify-content: start;
  text-align: left;
}

@mixin right($gap: 2rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
  align-items: flex-end;
  justify-content: end;
  text-align: right;
}

@mixin text-m($fs: 1rem) {
  font-family: fonts.$second-family;
  font-size: $fs;
  font-weight: 400;
  line-height: 1.5;
}

@mixin headline-1($color: vars.$color-black) {
  font-family: fonts.$font-family;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
  color: $color;
  text-transform: capitalize;
}

@mixin headline-2($color: vars.$color-black) {
  font-family: fonts.$font-family;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4;
  color: $color;
  text-transform: capitalize;
}

@mixin headline-3($color: vars.$color-black) {
  font-family: fonts.$font-family;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4;
  color: $color;
  text-transform: capitalize;
}

@mixin headline-4($color: vars.$color-black) {
  font-family: fonts.$font-family;
  font-size: 0.88rem;
  font-weight: 700;
  line-height: 1.4;
  color: $color;
  text-transform: capitalize;
}

@mixin headline-5($color: vars.$color-black) {
  font-family: fonts.$font-family;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.4;
  color: $color;
  text-transform: capitalize;
}

@mixin body-l($color: vars.$color-black) {
  font-family: fonts.$font-family;
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.8;
  color: $color;
  text-transform: capitalize;
}

@mixin body-m($color: vars.$color-black) {
  font-family: fonts.$font-family;
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.4;
  color: $color;
  text-transform: capitalize;
}

@mixin body-s($color: vars.$color-black) {
  font-family: fonts.$font-family;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.8;
  color: $color;
  text-transform: capitalize;
}

@mixin body-xs($color: vars.$color-black) {
  font-family: fonts.$font-family;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.4;
  color: $color;
  text-transform: capitalize;
}

@mixin caption($color: vars.$color-black) {
  font-family: fonts.$font-family;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.4;
  color: $color;
  text-transform: capitalize;
}
