$dark-primary: #2a254b;
$primary: #4e4d93;
$light-grey: #f9f9f9;
$border-grey: #ebe8f4;
$white: #fff;
$border-dark: #cac6da;
$color-error: #fc5759;
$color-warning: #e4c02d;
$color-info: #4390ce;
$color-success: #1aae69;
