$border-dark: #cac6da;
$color-primary: #748c70;
$color-white: #fff;
$color-black: #0c0c0c;
$color-primary25: #f0f2ef;
$color-primary50: #d1d9cf;
$color-primary100: #b2bfaf;
$color-primary200: #a2b39f;
$color-primary300: #93a690;
$color-primary400: #839980;
$color-primary600: #5a6d57;
$color-primary700: #404e3e;
$color-primary750: #343e32;
$color-primary800: #272f25;
$color-primary900: #0d100c;
$neutral-graydfdfdf: #dfdfdf;
$neutral-grayededed: #ededed;
$neutral-grayf9f9f9: #f9f9f9;
$neutral-graycbcbcb: #cbcbcb;
$neutral-grayadadad: #adadad;
$neutral-gray868686: #868686;
$neutral-gray606060: #606060;
$neutral-gray404040: #404040;
$neutral-gray202020: #202020;
$neutral-gray0c0c0c: #0c0c0c;
$color-dark-grey: #767676;
$color-de71aff: #231f20;
$color-5ba0249: #f5f5f5;
$color-light-grey: #ededed;
$state-color-warning-bg: #f7e4c9;
$state-color-warning-light: #ecbb77;
$state-color-warning: #e09126;
$state-color-error-bg: #fff2f2;
$state-color-error-light: #ed2e2e;
$state-color-error: #c30000;
$state-color-success-bg: #f3fdfa;
$state-color-success-light: #00ba88;
$state-color-success: #00966d;
$color-error: #fc5759;
$color-warning: #e4c02d;
$color-info: #4390ce;
$color-success: #1aae69;
$modal: #839980af;
