@use '@/styles/variables.scss' as vars;
@use '@/styles/mixins.scss' as mixins;

.category {
  display: grid;
  grid-template: auto auto auto / 1fr 2fr;
  grid-template-areas:
    'title options'
    'category-list searchsort'
    'category-list products-list';
}

.searchsort {
  display: flex;
  grid-area: searchsort;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;

  @media (width <= 1000px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.search {
  position: relative;
  display: flex;
}

.searchinput {
  width: 20rem;
  height: 2.5rem;
  padding: 0 1rem;
  border: 1px solid vars.$color-primary;

  &::placeholder {
    color: vars.$neutral-gray606060;

    @include mixins.body-xs(vars.$neutral-gray606060);

    text-transform: none;
  }

  &:focus {
    border-color: vars.$color-primary200;
    outline: none;
    box-shadow: 0 0 0 1px vars.$color-primary200;
  }
}

.searchicon {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  padding: 0.25rem;
  border: none;
  color: vars.$neutral-gray606060;
}

.title {
  grid-area: title;
  font-size: 1rem;
}

.options {
  display: flex;
  flex-direction: row;

  & > * {
    width: 50%;
    padding: 1rem;
    border-bottom: solid 3px vars.$color-primary100;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.4;
    color: vars.$color-primary100;
    text-align: center;
    text-transform: capitalize;
    background-color: vars.$color-white;
    transition: all 0.3s ease-in-out;

    @media (hover: hover) {
      &:hover {
        cursor: pointer;
        border-bottom: solid 3px vars.$color-primary;
        color: vars.$color-primary;
      }
    }
  }
}

.activelink {
  border-bottom: solid 3px vars.$color-primary900;
  color: vars.$color-primary900;
}

.categorylist {
  display: flex;
  grid-area: category-list;
  flex-direction: column;
  padding: 0.3rem 0.5rem;
  background-color: vars.$color-primary100;
}

.input {
  width: 100%;
}

.input > select {
  cursor: pointer;
  width: 100%;
}

.input > div {
  width: 100%;
}

.input > * > input {
  cursor: pointer;
  width: 100%;
}

.button {
  @include mixins.btn;
}

.categorylist ul {
  display: flex;
  flex-direction: column;
}

.categorylist ul li {
  cursor: pointer;
  width: 100%;
  padding: 2% 0 2% 5%;
  transition:
    color 0.3s,
    background-color 0.3s;
}

.empty {
  display: flex;
  grid-area: products-list;
  flex-direction: column;
  text-align: center;
}
