@font-face {
  font-family: Caveat;
  font-style: normal;
  src:
    local('Caveat'),
    url('../../public/fonts/Caveat.ttf') format('truetype');
}

@font-face {
  font-family: SingleDay-Regular;
  font-style: normal;
  src:
    local('Caveat'),
    url('../../public/fonts/SingleDay-Regular.ttf') format('truetype');
}
