@use 'fonts';
@use 'variables';

:root {
  font-family:
    variables.$font-system-ui, variables.$font-avenir, variables.$font-helvetica, variables.$font-arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: variables.$dark-white;
  text-rendering: optimizelegibility;
  color-scheme: light dark;
  background-color: variables.$black;
  font-synthesis: none;
}

a {
  font-weight: 500;
  color: variables.$light-purple;
  text-decoration: inherit;
}

a:hover {
  color: variables.$dark-purple;
}

body {
  display: flex;
  place-items: center;
  min-width: variables.$min-width;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
  padding: 0.6em 1.2em;
  border: 1px solid transparent;
  border-radius: 8px;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  background-color: variables.$dark-black;
  transition: border-color 0.25s;
}

button:hover {
  border-color: variables.$light-purple;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: variables.$dark-blue;
    background-color: variables.$white;
  }

  a:hover {
    color: variables.$midl-purple;
  }

  button {
    background-color: variables.$beige;
  }
}
