$max-width: 1440px;
$min-width: 320px;
$black: #242424;
$dark-black: #1a1a1a;
$white: #fff;
$dark-white: #ffffffde;
$light-purple: #646cff;
$midl-purple: #747bff;
$dark-purple: #535bf2;
$beige: #f9f9f9;
$dark-blue: #213547;
$dark-blue-2: #0c2d48;
$blue: #61dafbaa;
$gray: #888;
$light-gray: #848884;
$font-caveat: 'Caveat';
$font-single: 'SingleDay-Regular';
$font-system-ui: 'System-ui';
$font-avenir: 'Avenir';
$font-helvetica: 'Helvetica';
$font-arial: 'Arial';
