@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mixins;

.image {
  display: inline-block;
  width: 6rem;
  height: 6rem;

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.empty {
  @include mixins.center(1rem);
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1rem 0 0;
}
