@use '@/styles/mixins' as mixins;
@use '@/styles/variables' as vars;

.toggler {
  position: relative;
  display: block;
  padding: 1rem 0 2rem;
}

.toggler-input {
  display: none;
}

.toggler-state {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.toggler-control {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 2.5rem;
  height: 1.3rem;
  padding: 1px;
  border: 1px solid vars.$neutral-gray868686;
  border-radius: 1rem;
}

.toggler-switch {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: vars.$neutral-gray868686;
  transition: background-color 0.3s ease-out;
}

.toggler-title {
  @include mixins.body-m;
}

.toggler-input:checked ~ .toggler-state .toggler-control {
  justify-content: flex-end;
  border-color: vars.$color-primary;
  background-color: vars.$color-primary;
}

.toggler-input:checked ~ .toggler-state .toggler-control .toggler-switch {
  background-color: vars.$neutral-graydfdfdf;
}

.toggler-input:focus ~ .toggler-state .toggler-title {
  text-decoration: underline;
}

.toggler-input:disabled ~ .toggler-state .toggler-control {
  background-color: vars.$neutral-gray868686;
}

.toggler-input:disabled ~ .toggler-state .toggler-control .toggler-switch {
  background-color: vars.$neutral-gray606060;
}
