@use '@/styles/mixins.scss' as mixins;

.page {
  height: 90vh;
  padding: 5rem;
}

.title {
  @include mixins.headline-1;
}

.description {
  @include mixins.body-l;

  font-size: 1rem;
}

.btn {
  @include mixins.btn;
}
